 * {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }

body {
    background-color: #000;
}
#container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.card {
    width: 50%;
    background-color: red;
    padding: 10px;
    margin: 20px;
    border: 2px solid white;
}

::-webkit-scrollbar { /*Learn*/
    background: transparent;
    width: 15px;

}
::-webkit-scrollbar-thumb { /*Learn*/
    border-radius: 100px;
    background: linear-gradient(#3f3535, #b61919, rgb(219, 123, 123)); /*Learn*/    /* https://www.grabient.com/ */
}